* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  height: 100vh;
  width: 100%;
  font-size: 16px;
}

.section-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.todo-form h3 {
  color: navy;
  padding-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.form-control {
  display: flex;
  width: 100%;
  padding-bottom: 1.5rem;
}

.todo {
  height: 20px;
  width: 100%;
  border: none;
  background-color: beige;
  height: 25px;
  width: 300px;
  padding-left: 1rem;
}

.submit-btn {
  background-color: greenyellow;
  color: black;
  border: 1px solid greenyellow;
  font-weight: 700;
  padding: 2px 10px;
}

.clear-btn {
  color: red;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  margin: 0 auto;
}

.todo-container {
  width: 100%;
}

.todo-list {
  width: 100%;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0;
  margin-bottom: 0.8rem;
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn {
  color: var(--clr-green-light);
}
.edit-btn:hover {
  color: var(--clr-green-dark);
}
.delete-btn {
  color: var(--clr-red-light);
}
.delete-btn:hover {
  color: var(--clr-red-dark);
}

.cursor-pointer {
  cursor: pointer;
}
